<!-- sidebar menu -->
</br>
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a href="{{ url_for("dashboard") }}"><i class="fas fa-home fa-lg fa-fw"></i>&nbsp;&nbsp;&nbsp;Home</a>
            </li>
            <li><a href="{{ url_for("statistics") }}"><i class="fas fa-info-circle fa-lg fa-fw"></i>&nbsp;&nbsp;&nbsp;Statistics</a>
            </li>
            <li><a href="{{ url_for("log") }}"><i class="fas fa-paper-plane fa-lg fa-fw"></i>&nbsp;&nbsp;&nbsp;Logs</a>
            </li>
            <li><a href="{{ url_for("settings") }}"><i class="fas fa-cog fa-lg fa-fw"></i>&nbsp;&nbsp;&nbsp;Settings</a
            ></li>
        </ul>

    </div>
</div>
<!-- /sidebar menu -->

<!-- /menu footer buttons -->
<div class="sidebar-footer hidden-small">
    <a class="pull-right" data-toggle="tooltip" data-placement="top" title="Logout" href="{{ url_for('logout')}}">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
</div>
<!-- /menu footer buttons -->